.statusBadge {
    padding: 8px;
    display: inline-block;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    text-transform: capitalize;
    border-radius: 6px;
}